<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>
    <form action="/salvarUsuario" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" 
                id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <br>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nome</label>
            <input type="text" name="nome" class="form-control" id="exampleInputPassword1" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</body>
</html>